<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >



  <!--[變數] LOG樣式 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutEvent" value="${date}: ${message} ${stacktrace}"/>

  <!--[變數] LOG位置 -->
  <variable name="LogTxtLocation" value="${basedir}/App_Data/Logs/${shortdate}/${logger}.log"/>
  <variable name="LogTxtLocationFatal" value="${basedir}/App_Data/Logs/${shortdate}/FatalFile.log"/>
  <variable name="ProjectName" value="JB.Sample.MvcSiteMap.Website"/>


  <targets>
    <!--[設定] 目的地-->

    <!--文字檔-->
    <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" />
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"/>
    <!--事件-->
    <target name="Event" xsi:type="EventLog" source="${ProjectName}" log="Application" layout="${LayoutEvent}" />
    <!--即時顯示(Sentinel)-->
    <target name="Sentinel.JB.Sample.MvcSiteMap.Website" xsi:type="NLogViewer" address="udp://127.0.0.1:3333"/>
    <!--資料庫-->
    <target name="LogDatabase" xsi:type="Database"
            connectionStringName="LogConnStr"
            commandText="INSERT INTO SysLogging(Application, Level, Logger, Message, MachineName, UserName, CallSite, Thread, Exception, Stacktrace) VALUES (@Application, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);">
      <parameter name="@Application" layout="JB.Sample.MvcSiteMap.Website"/>
      <!-- change app name in layout  -->
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception:format=ToString}"/>
      <parameter name="@stacktrace" layout="${stacktrace:format=DetailedFlat}"/>
    </target>

    <!--
    /****** Object:  Table [dbo].[SysLogging]  ******/
    SET ANSI_NULLS ON
    GO

    SET QUOTED_IDENTIFIER ON
    GO

    SET ANSI_PADDING ON
    GO

    CREATE TABLE [dbo].[SysLogging](
	    [LoggingId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	    [Date] [datetime] NULL,
	    [Application] [varchar](200) NULL,
	    [Level] [varchar](100) NULL,
	    [Logger] [varchar](8000) NULL,
	    [Message] [varchar](8000) NULL,
	    [MachineName] [varchar](8000) NULL,
	    [UserName] [varchar](8000) NULL,
	    [CallSite] [varchar](8000) NULL,
	    [Thread] [varchar](100) NULL,
	    [Exception] [varchar](8000) NULL,
	    [Stacktrace] [varchar](8000) NULL,
     CONSTRAINT [PK_logging] PRIMARY KEY CLUSTERED 
    (
	    [LoggingId] ASC
    )WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
    ) ON [PRIMARY]

    GO

    SET ANSI_PADDING OFF
    GO

    ALTER TABLE [dbo].[SysLogging] ADD  CONSTRAINT [DF_Logging_LoggingId]  DEFAULT (newid()) FOR [LoggingId]
    GO

    ALTER TABLE [dbo].[SysLogging] ADD  CONSTRAINT [DF_Logging_date]  DEFAULT (getdate()) FOR [Date]
    GO
    -->


  </targets>

  <rules>
    <!--[設定] 紀錄規則-->
    <!--
    Trace：用於追蹤，可以在程式裡需要追蹤的地方將訊息以Trace傳出。
    Debug：用於開發，於開發時將一些需要特別關注的訊息以Debug傳出。
    Info ：訊息，記錄不影響系統執行的訊息，通常會記錄登入登出或是資料的建立刪除、傳輸等。
    Warn ：警告，用於需要提示的訊息，例如庫存不足、貨物超賣、餘額即將不足等。
    Error：錯誤，記錄系統實行所發生的錯誤，例如資料庫錯誤、遠端連線錯誤、發生例外等。
    Fatal：致命，用來記錄會讓系統無法執行的錯誤，例如資料庫無法連線、重要資料損毀等。 -->
    <!--<logger name="*" levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="FmsDb,Viewer" />-->
    <logger name="*" levels="Trace, Debug, Info, Warn"               writeTo="File" />
    <logger name="*" levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="Sentinel.JB.Sample.MvcSiteMap.Website" />
    <logger name="*" levels="Error, Fatal"                           writeTo="FileFatal, LogDatabase" />
    <!--<logger name="*" levels="Error, Fatal" writeTo="Event" />-->
  </rules>

</nlog>